* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#save-btn {
  position: absolute;
  top: 2%;
  left: 25%;
  padding: 0.5em 1em;
}
#reset-btn {
  position: absolute;
  top: 2%;
  left: 30%;
  padding: 0.5em 1em;
}

#export-btn {
  position: absolute;
  top: 2%;
  left: 35%;
  padding: 0.5em 1em;
}

.info-sidebar {
  width: 20%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  display: none;
}
.displaySizeInfo {
  display: flex;
  flex-direction: column;
}
.display-sizes {
  width: 50%;
}
img {
  width: 150px;
  height: 150px;
}
#close-btn {
  margin-left: 11.7em;
}
