body {
  font-family: "Gilroy-Light";
  padding: 0;
  margin: 0;
  background-color: royalblue;
  color: white;
}

form {
  padding: 1em;
}
.tips {
  margin-left: 1em;
  font-size: 1.5em;
  color: #38b000;
}

.button {
  margin-top: 1em;
  background-color: #00a9ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.result-container {
  display: flex;
  align-items: center;
}

.required {
  margin: 0em;
}
.required::after {
  content: " *";
  font-size: 1.5em;
  color: red;
}

.chk_option_error {
  visibility: hidden;
  color: red;
}
