* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
  color: #0a0a0a;
}

header {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#buttons {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
