.van-icon {
  width: 30px;
  height: 30px;
}

/* html {
  cursor: url("/icons/van-icon.svg"), auto;
  height: 100%;
} */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
  color: #0a0a0a;
}
nav {
  height: 10%;
}
header {
  display: flex;
  height: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.redirectionCTAs {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.instructional-GIF {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.instructional-images {
  margin-top: 5em;
  width: 60%;
  height: 50%;
}
