* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#save-btn {
  position: absolute;
  top: 2%;
  left: 25%;
  padding: 0.5em 1em;
}
#reset-btn {
  position: absolute;
  top: 2%;
  left: 30%;
  padding: 0.5em 1em;
}

#export-btn {
  position: absolute;
  top: 2%;
  left: 35%;
  padding: 0.5em 1em;
}

.info-sidebar {
  position: absolute;
  margin-left: 85%;
  width: 15%;
  height: 100%;
  background-color: #fff;
  display: none;
}
.displaySizeInfo {
  display: flex;
  flex-direction: column;
}
.display-sizes {
  width: 50%;
}
img {
  width: 150px;
  height: 150px;
}
#close-btn {
  margin-left: 11.7em;
}

ul li {
  list-style: none;
}

.models-catalogue {
  position: absolute;
  margin-left: 0%;
  width: 3%;
  height: 100%;
  background-color: #fff;
}

.models-catalogue ul {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}

#kitchen-appliances {
  position: absolute;
  left: 3%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
#bathroom-appliances {
  position: absolute;
  left: 3%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.interaction-buttons ul {
  position: absolute;
  left: 50%;
  top: 1em;
  width: 20%;
  display: flex;
  gap: 2em;
}
